@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F9FAFB;
    color: #353f4d;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin-top: 7%;
    margin-inline: auto;
}

h1 {
    font-size: 30px;
    font-weight: 900;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    flex-basis: 26%;
}

h3, h4 {
    font-size: 24px;
    font-weight: 600;
}

.fa-bowl-rice {
    font-size: 26px;
}

.fa-utensils {
    font-size: 24px;
    padding-right: 3px;
}

.recipes-photos {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    justify-items: stretch;
    align-items: stretch;
    margin-inline: auto;
}

.cuisine-one {
    width: 100%;
    height: 100px;
    background-image: url(/src/assets/images/0265670.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}
.cuisine-two {
    width: 100%;
    height: 100px;
    background-image: url(/src/assets/images/Hot_Chocolate_Lasagna_001-2890859ae4104347b6770148e71d817b.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}
.cuisine-three {
    width: 100%;
    height: 100px;
    background-image: url(/src/assets/images/quick-chicken-marsala-1801-ckl-8034795-2000-6a40f2cdfc664500973b5c9210faaa92.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}
.cuisine-four {
    width: 100%;
    height: 100px;
    background-image: url(/src/assets/images/raspberry-oreo-no-bake-dessert-image-500x500.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.cuisine-one::after,
.cuisine-two::after, 
.cuisine-three::after,
.cuisine-four::after {
    content: 'Recipe';
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 100px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 7px;
}
.cuisine-one::after {
    content: 'Pick';
}
.cuisine-two::after {
    content: 'Ingredients';
}
.cuisine-three::after {
    content: 'Get';
}

.cuisine-one:hover::after,
.cuisine-two:hover::after,
.cuisine-three:hover::after,
.cuisine-four:hover::after {
    opacity: 1;
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

form>input {
    width: 100%;
    padding: 10px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form>button {
    width: 100%;
    padding: 8px 0px;
    border-radius: 9px;
    border: 1px solid #ccc;
    background: #D17557;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

form>button:hover {
    background: #353f4d;
    color: white;
}

.ingredients-on-hand {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.ingredients-list {
    display: flex;
    flex-basis: 74%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.ingredients-list > li {
    list-style: none;
    color: #475467;
    font-size: 1rem;  
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 10px;
}

.get-recipe-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
    
    button {
        padding: 9px 14px;
        border-radius: 6px;
        border: 1px solid #ccc;
        background: #D17557;
        color: white;
        cursor: pointer;
    }
    
    button:hover {
        background: #353f4d;
    }
}


.suggested-recipe-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-inline: auto;
    margin-bottom: 5%;
    color: #475467;
    line-height: 28px;
}

@media screen and (min-width: 426px) {

form>button {
        position: absolute;
        right: 5px;
        width: 120px;
        padding: 8px 0px;
        border-radius: 9px;
        border: 1px solid #ccc;
        background: #D17557;
        color: white;
        cursor: pointer;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {

    main {
        width: 82%;
        margin-top: 2.5%;
    }

    .cuisine-one:hover,
    .cuisine-two:hover,
    .cuisine-three:hover,
    .cuisine-four:hover {
        transform: scale(1.007);
        transition: transform 0.2s ease-in-out;
    }

    .cuisine-one::after,
    .cuisine-two::after,
    .cuisine-three::after,
    .cuisine-four::after {
        font-size: 2rem;
    }

        .get-recipe-container {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
            margin-bottom: 10px;
    
            button {
                padding: 9px 14px;
                border-radius: 6px;
                border: 1px solid #ccc;
                background: #D17557;
                color: white;
                cursor: pointer;
            }
        }
}   

@media screen and (min-width: 1024px) {
    .ingredients-on-hand {
            flex-direction: row;
            gap: 10px; 
        }

        #on-hand-header {
        min-width: 300px;
        max-width: fit-content;
    }

    .ingredients-list {
        justify-content: flex-start;
    } 
}
